@import url(//db.onlinewebfonts.com/c/80241b4ef777109d2625c9195e7ca852?family=NordiquePro-Bold);

.navBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-top: 1%;
    top: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .logo{
    margin-left: 3%;
    z-index: 1;
  }
  .logo img{
    width: 60%;
  }
 .fa-bars, .fa-times{
    cursor: pointer;
    color: #452A98;
    font-size:2rem;
    /* margin-right: 2%; */
  }


  .fa-times{
      position: absolute;
      z-index: 1;
      color: #ffffff !important;
      margin-right: 7%;
  }
  .nav-links{
      text-decoration: none;
  }
  li{
      list-style: none;
  }
  .menuLinks{
      display: flex;
      font-family: 'Typold Regular';
      justify-content: space-between;
      text-align: center;
  }
  .menuLinks ul li{
    padding: 1rem;
    font-size: 1.8rem;
    width: 100%;
  }

 
  .menuLinks ul li:hover{
      transition: background-color ease-in 0.5s;
    background-color: #8a82a171;
  }
  .menuLinks ul li a{
      color: rgb(255, 255, 255);
  }
  .nav-links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
}
  .menuLists{
    width: 100%;
    display:flex;
    flex-direction: column;
      position: absolute;
      left: -100%;
      transition: all 0.5s ease;
  }
  .menuLists.active{
    position: absolute;
    background-color: rgb(69, 42, 152);
    left:0;
    position: absolute;
    top: 0;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 6% 0 6% 0;
    height: 100vh;
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .fa-times{
    margin-right: 0;
    margin-left: -22px;
  }
}